<div class="row">
    <div class="col-12">
        <h2>Créer un compte</h2>
        <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" id="nom" class="form-control" formControlName="nom">
            </div>
            <div class="form-group">
                <label for="prenom">Prenom</label>
                <input type="text" id="prenom" class="form-control" formControlName="prenom">
            </div>
            <div class="form-group">
                <label for="date_naiss">Date de naissance</label>
                <input type="date" id="date_naiss" class="form-control" formControlName="date_naiss">
            </div>
            <div class="form-group">
                <label for="email">Adresse mail</label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="mot_passe">Mot de passe</label>
                <input type="password" id="mot_passe" class="form-control" formControlName="mot_passe">
            </div>
            <button class="btn btn-success">S'inscrire</button>
        </form>
        <p class="text-danger">{{ msgErreur }}</p>
    </div>
</div>