<div class="row justify-content-center">
    <div class="col-12 col-md-8">

        <h2 class="mt-5 mb-5 bg-light">Créer un compte</h2>

        <form [formGroup]="inscriptionForm" (ngSubmit)="onInscription()">
            <div class="input-group">
                <div class="input-group-prepend">

                    <div class="input-group-text">Nom</div>

                </div>

                <input aria-label="Nom" type="text" id="nom" class="form-control" formControlName="nom">

            </div>
            <div class="input-group mt-4">
                <div class="input-group-prepend">

                    <div class="input-group-text">Prénom</div>

                </div>

                <input aria-label="Prénom" type="text" id="prenom" class="form-control" formControlName="prenom">

            </div>
            <div class="input-group mt-4">
                <div class="input-group-prepend">

                    <div class="input-group-text">Date de naissance</div>

                </div>

                <input 
                    aria-label="Date de naissance" 
                    type="date" 
                    id="date_naiss" 
                    class="form-control" 
                    formControlName="date_naiss">

            </div>
            <div class="input-group mt-4">
                <div class="input-group-prepend">

                    <div class="input-group-text">Adresse mail</div>

                </div>

                <input 
                    aria-label="Adresse email" 
                    type="email" 
                    id="email" 
                    class="form-control" 
                    formControlName="email">

            </div>
            <div class="input-group mt-4">
                <div class="input-group-prepend">

                    <div class="input-group-text">Mot de passe</div>

                </div>

                <input 
                    aria-label="Mot de passe" 
                    type="password" 
                    id="mot_passe" 
                    class="form-control" 
                    formControlName="mot_passe">

            </div>

            <button class="btn btn-success btn-lg mt-3 mb-3 color-dark" 
                    type="submit" 
                    [disabled]="inscriptionForm.invalid || msgErreur != null">
                    S'inscrire
            </button>

            <button class="btn btn-danger btn-lg mt-3 mb-3 ml-2" 
                    type="button" 
                    *ngIf="msgErreur != null" 
                    (click)="onResetForm()">
                    Effacer
            </button>

        </form>

        <p class="text-danger mb-5" *ngIf="msgErreur != null">{{ msgErreur }}</p>
        
    </div>
</div>