<div class="row mt-5">
    <div class="col-12">
        <h2 class="m-4 text-center  bg-light">Liste des utilisateurs</h2>
        <div class="row justify-content-center mb-2" *ngFor="let utilisateur of utilisateurs; let i = index">
            <div class="col-6">
                <div class="row bg-light">
                    <div class="col-9">
                        <p><strong>Prénom /Nom : </strong>{{ utilisateur.prenom }} {{ utilisateur.nom }}</p>
                        <p><strong>Date de naissance : </strong>{{ utilisateur.date_naiss | date : 'dd/MM/yyyy'}}</p>
                        <p><strong>Email : </strong>{{ utilisateur.email }}</p>
                    </div>
                    <div class="col-3 d-flex justify-content-end align-items-center">
                        <button class="btn btn-danger" (click)="onDeleteUtilisateur(i)">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>