<div class="d-flex mt-2 mb-2 align-items-center justify-content-center commentaire" *ngIf="!modify">

    <fa-icon [icon]="faAngleRight" class="flex-grow mr-2 mt-3 faAngleRight"></fa-icon>

    <p class="align-text-bottom flex-grow mr-md-2 mt-3 font-weight-bold">
        {{ commentaire.prenom }} {{ commentaire.nom }}
    </p>

    <p id="texte_commentaire" class="flex-grow-1 mt-md-3 mr-md-4 ml-md-4 align-text-bottom">
        <span id="tiret_avant_commentaire">- </span>{{ commentaire.commentaire }}
    </p>

    <p class="flex-grow font-italic text-secondary mt-md-3">
        {{ commentaire.date_commentaire | date: "dd/MM/yyyy - hh:mm a" }}
    </p>

    <div>

        <fa-icon 
            [icon]="faPenSquare" 
            class="btn btn-primary ml-md-2" 
            type="button"
            *ngIf="commentaire.uuid_util == infosUtilActif.uuid_util" 
            (click)="onChangeModify()">
        </fa-icon>

        <fa-icon 
            [icon]="faTimesCircle" 
            class="btn btn-danger ml-md-2 mr-md-2"
            type = "button"
            *ngIf="commentaire.uuid_util == infosUtilActif.uuid_util || infosUtilActif.moderateur == 1"
            (click)="onDeleteCommentaire()">
        </fa-icon>

    </div>
</div>

<form [formGroup]="modifyCommentForm" *ngIf="modify">
    <div class="formGroup d-flex mt-2 mb-2 commentaire">

        <fa-icon [icon]="faAngleRight" class="flex-grow mr-2 mt-3 faAngleRight"></fa-icon>

        <p class="align-text-bottom flex-grow mr-md-2 mt-3 font-weight-bold">
            {{ commentaire.prenom }} {{ commentaire.nom }}
        </p>

        <textarea 
            class="flex-grow-1 mr-md-2" 
            type="text" 
            name="commentaire" 
            formControlName="modifyComment" 
            aria-label="Emplacement pour modifier le commentaire existant">
        </textarea>

        <div>

            <fa-icon 
                [icon]="faCheckCircle" 
                class="btn btn-success flex-grow mr-md-2" 
                type="button"
                (click)="onModifyCommentaire()" 
                [disabled]="msgErreur != null" 
                aria-label="valider le commentaire">
            </fa-icon>

            <fa-icon 
                [icon]="faTimesCircle" 
                class="btn btn-danger flex-grow" 
                type="button" 
                (click)="onChangeModify()" 
                aria-label="annuler la modification du commentaire">
            </fa-icon>

        </div>
    </div>

    <p class="text-danger font-weigth-bold">{{ msgErreur }}</p>
    
</form>