<div class="row border m-4">
    <div class="col-12">
        <form [formGroup]="newCommentForm">
            <div class="formGroup">
                <div class="d-flex mt-3 mb-3">
                    <fa-icon [icon]="faAngleRight" class="mt-3 mr-2 flex-grow"></fa-icon>
                    <p class="font-weight-bold mt-3 mr-2 flex-grow">
                        {{ infosUtilActif.prenom }} {{ infosUtilActif.nom }}
                    </p>
                    <input class="flex-grow-1 mr-2" type="text" name="commentaire" id="commentaire"
                        formControlName="newComment">
                    <button class="btn btn-success flex-grow" type="button" (click)="onAjouterCommentaire()">
                        <fa-icon [icon]="faCheckCircle" class="flex-grow"></fa-icon>
                    </button>
                </div>
            </div>
        </form>
        <div *ngFor="let commentaire of commentaires; let i = index">
            <div [ngClass]="{'border-bottom': i != commentaires.length-1 }">
                <app-single-commentaire [index]="i" [commentaire]="commentaire" [infosUtilActif]="infosUtilActif"></app-single-commentaire>
            </div>
        </div>
    </div>
</div>