<div class="row justify-content-center">
    <div class="col-12 col-lg-8">

        <h2 class="mt-4 mb-2 bg-light">Mon compte</h2>

        <div class="row m-lg-2 border-bottom">
            <div class="col-12 pb-2 pt-3">

                <div>Prénom : <span class="font-weight-bold">{{ infosUtilisateurActif.prenom }}</span></div>

            </div>
        </div>
        <div class="row m-lg-2 border-bottom">
            <div class="col-12 pb-2 pt-3">

                <div>Nom : <span class="font-weight-bold">{{ infosUtilisateurActif.nom }}</span></div>

            </div>
        </div>
        <div class="row m-lg-2 border-bottom">
            <div class="col-12 pb-2 pt-3">

                <div>Date de naissance :
                    <span 
                        class="font-weight-bold">
                        {{ infosUtilisateurActif.date_naiss | date: "dd/MM/yyyy" }}
                    </span>
                </div>

            </div>
        </div>
        <div class="row m-lg-2 border-bottom">
            <div class="col-12 pb-2 pt-3">

                <div>Adresse email : <span class="font-weight-bold">{{ infosUtilisateurActif.email }}</span></div>

            </div>
        </div>
        <div class="text-center">

            <button class="btn btn-danger btn-lg mt-5" routerLink="connexion" (click)="onDeleteUtilisateur()"
                *ngIf="!moderateur">
                Supprimer mon compte
            </button>

        </div>

        <p class="text-danger mt-5" *ngIf="msgErreur != null">Erreur : {{ msgErreur }}</p>
        
    </div>
</div>