<nav class="nav navbar nav-pills justify-content-between bg-light">
    <a routerLinkActive="active" class="nav-link navbar-brand" routerLink="articles">
      Articles
    </a>
    <a routerLinkActive="active" class="nav-link navbar-brand" routerLink="utilisateurs">
      Utilisateurs
    </a>
    <div class="nav">
      <a routerLinkActive="active" 
         class="nav-link navbar-brand" 
         routerLink="inscription"
         *ngIf="!getIsAuth()">
        Inscription
      </a>
      <a routerLinkActive="active"
         class="nav-link navbar-brand" 
         routerLink="connexion"
         *ngIf="!getIsAuth()">
        Connexion
      </a>
      <button class="btn btn-danger nav-link navbar-brand"
         *ngIf="getIsAuth()"
         (click)="onDeconnexion()">
        Déconnexion
    </button>
    </div>
  </nav>