img {
    width : 170px;
    @media screen and (max-width: 575px) {
        width: 100px;
    }
}

nav {
    @media screen and (max-width: 575px) {
        display: flex;
    }

}

#lien_actif {
    color: rgb(4,4,4);
    :active {
        background-color: white;
    }
}

h1 {
    @media screen and (max-width: 575px) {
        font-size: 1.4em;
        font-weight: bold;
    }
}

#prenom_moderateur {
    @media screen and (max-width: 575px) {
        display: none;
    }
}

#inscription_connexion {
    @media screen and (max-width: 575px) {
        display: flex;
        justify-content: space-between;
    }
}