<nav class="nav navbar nav-pills justify-content-between bg-light sticky-top">
  <div id="logo_titre" class="d-flex">
    <img class="mr-5" src="../assets/images/icon-left-font-monochrome-black.svg" alt="Logo de Groupomania">
    <h1>G-break</h1>
  </div>
  <a 
    routerLinkActive="active" 
    class="nav-link navbar-brand" 
    routerLink="articles" 
    *ngIf="getIsAuth()">
    Accueil : liste des articles
  </a>
  <div class="nav">
    <div 
      id="prenom_moderateur"
      class="nav-link navbar-brand" 
      *ngIf="getIsAuth()">
      Bonjour {{ prenom }} 
      <span 
        class="text-danger font-weight-bold font-italic"
        *ngIf="getIsAuth() && moderateur === 1" 
        id="moderateur">
        (modérateur)
      </span>
    </div>
    <a 
      routerLinkActive="active" 
      class="nav-link navbar-brand" 
      routerLink="profil" 
      *ngIf="getIsAuth()">
      Voir mon compte
    </a>
    <a 
      routerLinkActive="active" 
      class="nav-link navbar-brand" 
      routerLink="utilisateurs"
      *ngIf="getIsAuth() && moderateur === 1">
      Utilisateurs
    </a>
    <div id="inscription_connexion">
      <a 
        routerLinkActive="active" 
        class="nav-link navbar-brand" 
        routerLink="inscription" 
        *ngIf="!getIsAuth()">
        Inscription
      </a>
      <a 
        routerLinkActive="active" 
        class="nav-link navbar-brand" 
        routerLink="connexion" 
        *ngIf="!getIsAuth()">
        Connexion
      </a>
    </div>
    <button 
      class="btn btn-danger nav-link navbar-brand" 
      routerLinkActive="active" 
      *ngIf="getIsAuth()"
      (click)="onDeconnexion()">
      Déconnexion
    </button>
  </div>
</nav>