<nav class="nav navbar nav-pills justify-content-between bg-light">
    <a routerLinkActive="active" class="nav-link navbar-brand" routerLink="articles">
      Articles
    </a>
    <div class="nav">
      <a routerLinkActive="active" 
         class="nav-link navbar-brand" 
         routerLink="inscription"
         *ngIf="!isAuth">
        Inscription
      </a>
      <a routerLinkActive="active"
         class="nav-link navbar-brand" 
         routerLink="connexion"
         *ngIf="!isAuth">
        Connexion
      </a>
      <a class="nav-link navbar-brand" 
         *ngIf="isAuth"
         (click)="onDeconnexion()">
        Déconnexion
      </a>
    </div>
  </nav>